root = true
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf

[*.js]
indent_style = tab
max_line_length = null

[{package.json,*.yml}]
indent_style = space
indent_size = 2
